.contianer{
  height:340pt;
  width:272pt;
  padding: 45pt 21pt 24pt 11pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .info{
      display: flex;
      .icon{
          width:15pt;
          height:15pt;
      }
      .p{
          width:224pt;
      }
  }
}